RewriteEngine on
RewriteBase /KWAPRO/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|images|robots\.txt|files)
RewriteRule ^(.*)$ index.php/$1 [L]


